<!DOCTYPE html>
<html>
<head>
  <title>Verify Your Email</title>
</head>
<body>
  <h2>Hello <%= name %>!</h2>
  <p>Thank you for registering. Please verify your email by clicking below:</p>
  <a href="<%= verificationLink %>">Verify Email</a>
  <p>This link will expire in 1 hour.</p>
</body>
</html>
